doctype 
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./css/master.css")
    link(rel="stylesheet", href="./css/all.min.css")
    title Ayman
  body
    .header
      .container
        .logo Ayman
        ul
          li.active Home
          li About
          li Services
          li Portifolio
          li Contact
          li(id="nav-hider"): i(class="fa-solid fa-bars")
    .landing
      .container 
        p Every Thing You Need From A - Z 
        h1 We Are Here
    
    script(src="./js/main.js") 
    //-
        846
        655
